
controller:
  service:
    type: LoadBalancer

    ports:
      http: 80
      https: 443

    # KEY: terminate TLS at NLB, but send traffic to nginx over HTTP(80)
    targetPorts:
      http: http
      https: http

    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:ca-central-1:588738591601:certificate/92cd79ec-7431-4ebc-b529-fd4a7a7bf8e2"
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "tcp"

